* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --primary-color: #4d8931;
  --secondary-color: #bababa;
  --primary-hover-color: #d0f0c0;
  --image-fill-color: #f5f5f5;
  --text-color: #fff;
  --text-card-color: #000000;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100vw;
  background-color: #2d7a02;
  position: relative;
}
.header__content__container {
  background-color: inherit;
  width: 90%;
  justify-content: flex-end;
}
header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px 5px;
  margin-right: 40px;
}
header ul select {
  border-radius: 5px;
  padding: 5px;
}
header ul li {
  padding: 10px;
  margin-inline: 10px;
  color: var(--text-color);
}
nav {
  width: 100vw;
}

.logo__container {
  margin-right: 40px;
}
.nav__container {
  background-color: inherit;
  display: flex;
  width: 90%;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.nav__navigation {
  width: 40%;
}
.nav__items__container {
  display: flex;
  background-color: inherit;
  justify-content: space-evenly;
}
/* .nav__items__container .nav__items img{
  margin-right: 40px;
} */
.nav__items {
  color: var(--secondary-color);
  width: 120px;

  align-items: center;
  display: flex;
  margin: 0 10px 0 10px;
}
.logo__container {
  margin-right: 50px;
}
.nav__search__section {
  display: flex;
  margin-right: 40px;
}
.nav__search__input {
  border-radius: 5px;
  background-color: inherit;
  padding: 5px;
  border: solid 1px var(--image-fill-color);
  width: 120px;
}
.nav__search__input:focus-visible {
  border: none;
  outline: solid 1px var(--image-fill-color);
}
.nav__search__button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  padding: 7px;
  cursor: pointer;
}
.nav__search__button:hover {
  background-color: var(--primary-hover-color);
}
.hero__container {
  background-color: var(--image-fill-color);
  height: 400px;
  background-image: url("/assets/program.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero__item {
  color: var(--text-color);
  font-size: 3rem;
}
.hero__button_container {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.hero__button {
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
.hero__button:hover {
  background-color: var(--primary-hover-color);
}
.cards__container {
  margin-top: 30px;
  height: 200px;
  width: 100%;
}

.card__item {
  background-color: var(--image-fill-color);
  height: 200px;
  width: 300px;
  margin: 0 10px 0 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 2500px) {
  .card__item {
    background-color: var(--image-fill-color);
    height: 200px;
    width: 300px;
    margin: 0 30px 0 30px;
    border-radius: 5px;
  }
}

.card__item__1 {
  background-image: url("assets/company.png");
  height: 100%;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;

  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.card__item__2 {
  background-image: url("assets/product.png");
  height: 100%;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;

  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.card__item__3 {
  background-image: url("assets/contact_us.png");
  height: 100%;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;

  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
}
/* statistic */
.statistic__container {
  margin: 40px 0 0 0;
  width: 100%;
  height: 150px;
}
.statistic__item {
  width: 200px;
  margin: 0 20px 0 20px;
  height: 150px;
}
i {
  color: var(--primary-color);
}
.statistic__icon {
  height: 80px;
  width: 80px;
  font-size: 50px;
}

.statistic__number {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--primary-color);
  font: 800 40px system-ui;
}

.statistic__text {
  color: var(--primary-color);
}
.blog__container {
  width: 100%;
  height: 280px;
  background-color: var(--secondary-color);
  flex-direction: column;
  margin-bottom: 30px;
  overflow: visible;
  padding: 25px;
}
.blog__title {
  font-size: 2rem;
  padding: 5px 0 5px 0;
}
.tagembed-container {
  width: 100%;
}
.reference__container {
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
}
.reference__title {
  font-size: 2rem;
  padding: 20px 0 20px 0;
}
.reference__item__container {
  width: 100%;
  height: fit-content;
  padding: 10px;
}
.item__container {
  height: 380px;
  width: 270px;
  border: solid 1px grey;
  margin: 0 15px 0 15px;
}
.item__logo {
  height: 50%;
  width: 100%;
}

.item__content {
  height: 50%;
  width: 100%;
  flex-direction: column;
  border-top: solid 1px grey;
}
.item__title {
  padding-bottom: 20px;
  font-size: 1.5rem;
}
.item__description {
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
  color: gray;
}
/* Subcribe */
.subscribe__container {
  border-top: solid 1px gray;
  flex-direction: column;
  height: 250px;
}
.subscribe__title {
  font-size: 1.5rem;
  padding: 10px;
}
.subscribe__text {
  height: 25px;
  width: 350px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 0.8rem;
}
.subscribe__button__container {
  width: 100%;
  height: 50px;
}
.subscribe__input {
  margin: 0 5px 0 5px;
  padding: 10px;
  width: 300px;
}
.subscribe__input:focus-visible {
  outline: none;
}
.subscribe__input::placeholder {
  font-size: 1rem;
}
.subscribe__button {
  margin: 0 5px 0 5px;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.subscribe__button:hover {
  transform: translateY(-5%);
}
/* Footer */
footer {
  bottom: 0px;
  height: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--text-card-color);
  z-index: 100;
  flex-direction: column;
}
.footer__container {
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
}
.footer__nav__container {
  width: 100%;
  justify-content: space-between;
}
.footer__contact__container {
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  color: var(--text-color);
}
.footer__contact__title {
  font-weight: 500;
}
.footer__contact__content {
  text-align: left;
  justify-content: space-between;
  width: 300px;
}
.footer__contact__button {
  padding: 8px;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.footer__contact__button:hover {
  transform: translateY(-5%);
}
.footer_title {
  color: var(--text-color);
}
img svg {
  fill: var(--primary-color);
}
.footer__nav__item {
  color: var(--text-color);
  margin: 0 10px 0 10px;
}
.footer__icon__button {
  margin: 0 5px 0 5px;
}
/* Error */
.error {
  color: red;
  margin-top: 10px;
}
/* Backdrop dialog*/
dialog {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 80%;
}

dialog::backdrop {
  background-color: #3b3c36;
  opacity: 50%;
}
.dialog__content__container {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
}
@keyframes vertical_drop {
  50% {
    transform: translateY(80%);
  }
  75% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0);
  }
}
.dialog__message {
  font-size: 1.5rem;
}
.dialog__content {
  background-color: #3b3c36;
  padding: 20px;
  flex-direction: column;
  opacity: none;
  border-radius: 5px;
  animation-name: vertical_drop;
  animation-duration: 0.25s;
}
.dialog__button {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  transition: 0.5s;
}
.dialog__button:hover {
  transform: translateY(-10%);
}
